body{
    background-color: black !important;
}

header {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    z-index: 999;
}

// CHATS + MESSAGES
main {
    display: flex;
    flex-direction: row;
    padding:  0.5rem 1.5rem; 
    position: fixed;
    gap: 1.5rem;
    width: -webkit-fill-available;
    width: -moz-available;
    height: calc(100vh - 70px);
}

// CHAT LIST
aside#chatlist {
    width: 30%;
}

.chatrooms {
    margin: 0.5rem;
    padding: 0;
}

.chatrooms li {
    list-style: none;
}

.chatroom-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.chatroom-content h3 {
    font-size: medium;
}

.chatroom-avatar {
    width: 32px;
    height: 32px;
}

.chatroom .notificaciones {
    height: 24px;
    width: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    padding: 1px;
    color: white;
}

// MESSAGE LIST
section#message-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages {
    list-style: none;
    overflow-y: auto;
    width: 100%;
    max-height: calc(100vh - 200px);
}

.chat-item {
    padding: 2.5rem 0;
}

.message {
    color: white;
    padding: 0.5rem 1rem;
    clear: both;
    margin: 0.5rem 0;
}

.mymessage-data {
    float: right;
    text-align: end;
    margin: 0.5rem 0;
}

.myfriendmessage-data {
    float: left;
    text-align: start;
    margin: 0.5rem 0;
}

.mymessage {
    float: right;
    text-align: end;
    background-color: red;
    border-radius: 0 0 0 1rem;
    margin-left: 2rem;
}

.myfriendmessage {
    float: left;
    text-align: start;
    background-color: blue;
    border-radius: 0 0 1rem 0;
    margin-right: 2rem
}

// Form with button to send messages

#form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: calc(100vw - 200px);
    position: absolute;
    bottom: 70px;
}

#input {
    height: 24px;
    width: 65%;
}

#submit {
    height: 30px;
    width: calc(10vw - 20px);
    margin-right: 20px;
}