<header>
    <h1>Dashboard</h1>
    <button (click)="logout()">Cerrar sesión</button>
</header>

<main>
    <!-- Listado de chats -->
    <aside id="chatlist">
        <!-- Formulario de búsqueda de chats -->
        <form>
            <input type="text" placeholder="Busca tu chat">
            <ul>
                
            </ul>
        </form>
    </aside>
    
    <!-- Mensajes e input para escribirlos -->
    <section id="message-box">
        <ul id="messages">
            @for (message of messages; track message.order) {
                <li class="chat-item">
                    <p class="{{ message.userId === userId ? 'mymessage-data' : 'myfriendmessage-data' }}"><b>{{ message.username || "Anonymous" }}</b> {{ message.created_at }}</p>
                    <p class="message {{ message.userId === userId ? 'mymessage' : 'myfriendmessage' }}">{{ message.content }}</p>
                </li>
                <br>
            }
            @empty {
                <p>Aún no hay mensajes.</p>
            }
        </ul>
        <form id="form" [formGroup]="chatForm">
          <input type="text" name="message" id="input" formControlName="message" placeholder="Escribe un mensaje..." autocomplete="off" />
          <button id="submit" (click)="sendMessage()">Enviar</button>
        </form>
    </section>
</main>