body{
    background-color: black !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  0.5rem 2rem;
    align-items: center;
}

// CHATS + MESSAGES
main {
    display: flex;
    flex-direction: row;
    padding:  0.5rem 2rem;
}

// CHAT LIST
aside#chatlist {
    width: 30%;
}

#messages {
    list-style: none;
    overflow-y: auto;
    height: 70vh;
    margin: 2rem 0;
}

// MESSAGE LIST
section#message-box {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-grow: 1;
}

.chat-item {
    padding: 2.5rem 0;
}

.message {
    color: white;
    padding: 0.5rem 1rem;
    clear: both;
    margin: 0.5rem 0;
}

.mymessage-data {
    float: right;
    text-align: end;
    margin: 0.5rem 0;
}

.myfriendmessage-data {
    float: left;
    text-align: start;
    margin: 0.5rem 0;
}

.mymessage {
    float: right;
    text-align: end;
    background-color: red;
    border-radius: 0 0 0 1rem;
    margin-left: 2rem;
}

.myfriendmessage {
    float: left;
    text-align: start;
    background-color: blue;
    border-radius: 0 0 1rem 0;
    margin-right: 2rem
}

// Form with button to send messages

#form {
    position: fixed;
    bottom: 10px;
    display: flex;
    gap: 1rem;
}

#input {
    height: 24px;
    width: 60vw;
}

#submit {
    height: 30px;
    width: 10vh;
}