<h2>¿Tienes alguna duda?</h2>

<form [formGroup]="contactForm">
    <label for="nombre">Nombre</label>
    <input type="text" formControlName="nombre" required>

    <label for="apellidos">Apellidos</label>
    <input type="text" formControlName="apellidos" required>

    <label for="telefono">Teléfono</label>
    <input type="text" formControlName="telefono" required>

    <label for="email">Correo electrónico</label>
    <input type="text" formControlName="email" required>

    <label for="contenido">Consulta</label>
    <input type="text" formControlName="contenido" required>

    <button (click)="submitForm()">Enviar</button>
</form>

<h2>Datos guardados: </h2>
@for (item of data; track $index) {
    {{ item.nombre }}
}